# Bibliotecas necessárias

# Processamento de dados
polars
pandas
numpy

# Modelagem estatística
statsmodels
scipy

# Visualização de dados
matplotlib
seaborn
plotly

# Machine Learning
scikit-learn

# Interface com o usuário
streamlit
