# Removido versões rígidas para permitir maior flexibilidade de instalação

# Principais pacotes
pandas
numpy
scikit-learn
joblib

# Substituindo pandas-profiling por ydata-profiling (mais recente)
ydata-profiling

# Visions, com a versão compatível com ydata-profiling
visions>=0.7.5,<0.7.7

# Outros pacotes, sem especificação de versão para evitar conflitos
matplotlib
seaborn
phik

# Streamlit, mas sem o streamlit-pandas-profiling que estava causando conflito
streamlit

# Outros pacotes para visualização e análise
plotly
